/* Esercizio 1 */
.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    transform: scale(5, 3);
}

/* Esercizio 3 */
.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 100%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover {
    opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(1.5, 1.5);
}
.ex-5-square:active {
    transform: scale(0.5, 0.5)
}

/* Esecizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img {
    transition: 1s;
}
.ex-7-img:hover {
    filter: grayscale(100%) contrast(250%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: 1s;
}
.ex-8-img:hover {
    border-radius: 10%;
    filter: grayscale(100%);
}

/* Esercizio 9 */
.ex-9-img {
    transition: 1s;
}
.ex-9-img:hover {
    border-radius: 10%;
    filter: grayscale(100%) blur(15px);
    transform: scale(1.5, 1.5);
}

/* Esercizio 10 */
.ex-10-icon {
    animation: ruota 2s linear infinite;
}
@keyframes ruota {
    from {transform: rotate(0deg);}
    to {transform: rotate(350deg);}
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation: ruota2 2s linear;
}
@keyframes ruota2 {
    0% {transform: rotate(0deg);}
    90% {transform: rotate(270deg);}
    100% {transform: rotate(0deg);}
}

/* Esercizio 12 */
.ex-12-top-white {
    animation: spazio-bianco-top 2s linear infinite;
}
.ex-12-bottom-white {
    animation: spazio-bianco-bottom 2s linear infinite;
}

@keyframes spazio-bianco-top {
    0% {left: 10%;}
    50% {left: 60%}
    100% {left: 10%;}
}
@keyframes spazio-bianco-bottom {
    0% {right: 10%;}
    50% {right: 60%}
    100% {right: 10%;}
}

/* Esercizio 13 */

/* SE UNO DI VOI RICOTTARI MI COPIA
STO ESERCIZIO MI INCA**O PERCHÉ
CI HO PERSO UNA PICCOLA PERCENTUALE
DELLA MIA SANITÀ MENTALE
PER FARLO COME CRISTO COMANDA INTEGRANDO
ANCHE IL WIDTH E NON MI È NEANCHE USCITO BENISSIMO */

.ex-13-top-white {
    animation: spazio-bianco-top-gira 5s linear infinite;
}
.ex-13-bottom-white {
    animation: spazio-bianco-bottom-gira 5s linear infinite;
}

@keyframes spazio-bianco-top-gira {
    0% {left: -3%; top: -10px; width: 10px;}
    5% {left: -3%; top: -10px; width: 60px;}
    20% {left: 100%; top: -10px; width: 60px;}
    21% {left: 100%; top: -10px; width: 10px;}
    50% {left: 100%; top: 60px; width: 10px;}
    51% {left: 100%; top: 60px; width: 60px;}
    75% {left: -3%; top: 60px; width: 60px;}
    80% {left: -3%; top: 60px; width: 10px;}
    100% {left: -3%; top: -10px; width: 10px;}
}

@keyframes spazio-bianco-bottom-gira {
    0% {right: -3%; bottom: -10px; width: 10px;}
    5% {right: -3%; bottom: -10px; width: 60px;}
    20% {right: 100%; bottom: -10px; width: 60px;}
    21% {right: 100%; bottom: -10px; width: 10px;}
    50% {right: 100%; bottom: 60px; width: 10px;}
    51% {right: 100%; bottom: 60px; width: 60px;}
    75% {right: -3%; bottom: 60px; width: 60px;}
    80% {right: -3%; bottom: 60px; width: 10px;}
    100% {right: -3%; bottom: -10px; width: 10px;}
}