/* Esercizio 1 */
.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    transform: scale(5, 3);
}

/* Esercizio 3 */
.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 100%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover {
    opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(1.5, 1.5);
}
.ex-5-square:active {
    transform: scale(0.5, 0.5)
}

/* Esecizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img {
    transition: 1s;
}
.ex-7-img:hover {
    filter: grayscale(100%) contrast(250%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: 1s;
}
.ex-8-img:hover {
    border-radius: 10%;
    filter: grayscale(100%);
}

/* Esercizio 9 */
.ex-9-img {
    transition: 1s;
}
.ex-9-img:hover {
    border-radius: 10%;
    filter: grayscale(100%) blur(15px);
    transform: scale(1.5, 1.5);
}

/* Esercizio 10 */
.ex-10-icon {
    animation: ruota 2s linear infinite;
}
@keyframes ruota {
    from {transform: rotate(0deg);}
    to {transform: rotate(350deg);}
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation: ruota2 2s linear forwards;
}
@keyframes ruota2 {
    0% {transform: rotate(0deg);}
    90% {transform: rotate(270deg);}
    100% {transform: rotate(0deg);}
}